<h3 class="hp-title pf-heading">{{localize "PF2E.StaminaPointsHeader"}}</h3>
<ol class="hp-list">
  <li class="li-three-grid">
    <div class="hp-current pf-container">
      <h4 class="hp-current pf-title" style="font-size: 12px">{{localize "PF2E.CurrentStaminaPointsShortLabel"}}</h4>
      <span class="hp-current pf-value pf-large" title="{{localize "PF2E.CurrentStaminaTitle"}}">
        <input name="data.attributes.sp.value" type="text" value="{{data.attributes.sp.value}}"
                                                           data-dtype="Number" placeholder="10"/>
      </span>
    </div>
    <div class="hp-max pf-container">
      <h4 class="hp-max pf-title">{{localize "PF2E.MaxStaminaPointsShortLabel"}}</h4>
      <span class="hp-max pf-value pf-large" title="{{localize "PF2E.MaxStaminaTitle"}}">
        <input name="data.attributes.sp.max" type="text" value="{{data.attributes.sp.max}}"
                                                         data-dtype="Number" placeholder="10"/>
      </span>
    </div>
    <div class="hp-max pf-container">
      <h4 class="hp-max pf-title">{{localize "PF2E.ResolvePointsShortLabel"}}</h4>
      <span class="hp-max pf-value pf-large" title="{{localize "PF2E.ResolveTitle"}}">
        <input name="data.attributes.resolve.value" type="text" value="{{data.attributes.resolve.value}}"
                                                         data-dtype="Number" placeholder="10"/>
      </span>
    </div>
  </li>
</ol>
